body {
    justify-content: center;
    align-items: center; 
}

.container-form {
    color: #d9d9d9;
    margin-top: 2cm !important;
    margin: auto;
    max-width: 500px;
    width: 100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    padding: 25px 25px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius:30px;
}

    .container .title {
        font-size: 20px;
        font-weight: 500;
        position:  relative;
        color:rgba(0,0,0,0.9);
    }


.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 0px 0;
}

form .user-details .input-box {
   
    width: 100%;;
    border-radius:60px;
    align-self:center;
}
::-webkit-input-placeholder {
    color:#000;
    
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 20px;
}

.user-details .input-box input {
    height: 50px;
    width: 100%;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 0 0 50px;
    background: rgba(255,255,255,0.1);
    outline: none;
    border: 1px solid #ccc;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

    form .category label {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

        form .category label .dot {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            margin-right: 10px;
            background: #d9d9d9;
            border: 5px solid transparent;
            transition: all 0.3s ease;
            color:#fff;
        }

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
    background: rgba(255,255,255,0.1);
    border-color:#fff;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

    form .button input {
        border: none;
        border-radius: 30px;
        font-size: 15px;
        height: 45px;
        outline: none;
        width: 100%;
        color: black;
        background: rgba(255, 255, 255,1);
        cursor: pointer;
        transition: .3s;
    }


    /* <<<<<<<<<<<< Styles for form validation part >>>>>>>>>>>>>*/

/* styles for error messages */
.error{
    margin: 0px;
    color: red;
    display: none;
    font-size: small;
  }

.passwordShowAndHide{
    margin: 0px 0px 0px 10px;
    font-size: small;
    font-family: "Open Sans", sans-serif;
}

#hidePassword{
    display: none;
}

.passswordStrogness{
    margin: 0px;
    font-family: "Courier New", Courier, monospace;
    font-size: small;
    display: none;
}

.passwordDetails{
    display: flex;
    justify-content: space-between
}

#weakPassword{
    /* display: block; */
    color: red;
}

#strongPassword{
    color: rgb(31, 145, 251);
    /* display: block; */
}

#veryStrongPassword{
    color: rgb(31, 255, 31);
    /* display: block; */
}

